/* index.html */

title {
    font-size: 50px;
    background-color: orange;
    color: black;
}

h1 {
    background-color: grey;
    font-size: 120px;
    color: orange;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

button {
    color: orange;
    font-size: 20px;
}

ul {
    text-align: center;
    list-style-type: none;
}

/* Wedges */

